*{
    margin:0;
    padding:0;
}

.header-container{
    color: rgb(0, 0, 0);
    width: 50%;
    margin: auto;
}
.heder-slogan{

    color: aqua;
}
.header-title{
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin-left: 50px;
    position: relative;
    top: 20%;
    font-family: 'Open Sans', sans-serif;
    
}
h1{
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
}
.header-btn{
    background-color: aqua;
    border:0;
    padding:15px 40px;
    border-radius:5px;
    position: relative;
    top: 15px;
    font-size:20px;
    font-weight:700;
}

.header-btn1{
    background-color: aqua;
    border:0;
    padding:15px 40px;
    border-radius:5px;
    position: relative;
    top: 15px;
    font-size:20px;
    font-weight:700;
}

.header-btn:hover{
    transition:2s;
    background-color:white;
    border: 2px solid black;
}
.main-container h2{
    color: black;
    font-family: 'Open Sans', sans-serif;
}
.main-card{
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top:120px;
    justify-items:center;
}
.card-1{
    background-color:#07192F;
    width: 300px;
    height:300px;
    border-radius:5px;
}
.main-container{
    font-size: 50px;
    color: black;
    position: relative;
    top: 600px;
    text-align: center;
}
.man-icon{
    width:70px;
    height: 70px;
}
 .card-name{
    color: white;
    font-size:40px;
}
.card-name2{
   color: white;
   font-size: 20px;
   position: relative;
   top:10px;
}
.dev-title{
    color: aqua;
}
.desription{
    width:3%;
    margin: auto;
   
}
.footer-title{
    font-size:50px;
    position: relative;
    text-align: center;
    margin-bottom:-3545px;
}
@media only screen and (max-width: 500px) {

    .body,h1,p{
     text-align: center;
     margin-right:30px;
    }
    .header-btn{
        position: relative;
        top:29px;
        left:132px;
    }
    .main-card{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;

    }
    .card-name{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }
    .card-1{
        margin: 20px;
    }
    .header-btn{
        position: relative;
        left:5px;
    }
    .card-name2{
        position: relative;
        top:20px;
        left:19px;
    }
    .header-btn1{
        position: relative;
        left:123px;
    }
    }
  